#header{
  background-color: $background_header;

  .container-header{
    max-width: $max-width;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .logo-header{
    width: $columns-1;
  }

  .header_mainmenu{
    width: $columns-2;

    .menu-main-menu{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0px;
    }

    .navPages-item{
      display: inline-block;
      padding: $padding-list-menu;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;

      &:last-child{

        .navPages-action:after{
          display: none;
        }
      }
    }

    .navPages-action{
      color: $color_text;
      letter-spacing: $letter-spacing-xxs;
      position: relative;

      &:after{
        content: "";
        position: absolute;
        background: $background_white;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        top: calc(50% - 3px);
        right: -38px;
      }
    }

    .navPage-subMenu{
      display: none;
    }

  }

  .header_right{
    width: $columns-1;
  }
}