$columns: (
	1: calc(1 * (100vw / 12)),
	2: calc(2 * (100vw / 12)),
	3: calc(3 * (100vw / 12)),
	4: calc(4 * (100vw / 12)),
	5: calc(5 * (100vw / 12)),
	6: calc(6 * (100vw / 12)),
	7: calc(7 * (100vw / 12)),
	8: calc(8 * (100vw / 12)),
	9: calc(9 * (100vw / 12)),
	10: calc(10 * (100vw / 12)),
	11: calc(11 * (100vw / 12)),
	12: calc(12 * (100vw / 12))
);

$columns__margin: $size__spacing-unit;

$max-width: 1540px;

$columns-1: 15%;
$columns-2: 70%;
$padding-list-menu: 0px 35px;