
// Backgrounds
$color__background-body: #fff;
$color__background-input: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #0073aa;
$color__background-button-hover: #111;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background_selection: mix( $color__background-body, $color__background-button, 75% ); // lighten( salmon, 22.5% ); // lighten( #0999d4, 48% );
$background_white: #fff;

// Text
$color__text-main: #111;
$color__text-light: #767676;
$color__text-hover: lighten( #111, 22.5% );
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color_text: #fff;

// Links
$color__link: #0073aa;
$color__link-visited: #0073aa;
$color__link-hover: darken( $color__link, 10% );

// Borders
$color__border: #ccc;
$color__border-link: #0073aa;
$color__border-link-hover: darken( $color__link, 10% );
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: $color__border;
$color__border-abbr: #666;

//hover

$active_menu_header: #ff497c;


$background_header: rgba(31, 39, 50, 0.5);

$letter-spacing-sx: 0.2rem;


$letter-spacing-xxs:   0.2em;
$letter-spacing-xs:    0.4em;
$letter-spacing-sm:    0.6em;
$letter-spacing-md:    0.8em;
$letter-spacing-lg:    1em;
$letter-spacing-xl:    1.2em;
$letter-spacing-xxl:   1.4em;
$letter-spacing-xxxl:  1.6em;